{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %} Meu blog {% endblock 'titulo' %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'plataforma\css\estilo.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/estilo.css' %}">
{% endblock  %}

{% block 'conteudo' %}

<main>
    {% for post in posts %}
    <article>
      <a href="{% url 'listar_post' post.id %}">
        <h2>{{post.titulo}}</h2>
        <img src="{{post.imagem_post.url}}" alt="aaa">
        <p>{{post.resumo}}</p>
      </a>
    </article>
     {% endfor %}
  </main>
  
  <aside>
    <h2>Sidebar</h2>
    <ul>
      <li><a href="#">Categorias</a></li>
      <li><a href="#">Arquivos</a></li>
      <li><a href="#">Tags</a></li>
    </ul>
  </aside>
  


{% endblock %}